section {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px;
}

img {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
}

img#bird ~ img {
    border-width: 3px;
    border-color: rgb(238, 150, 28);
}

#fluffy + img {
    border-width: 3px;
    border-color: aquamarine;
}