h1 {
    font-size: 1.2em;
}

body {
    width: 1000px;
    margin: 0 auto;
}

p {
    background: rgba(255,84,104,0.3);
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
    display: inline-block;
    max-width: 200px;
}

span {
    background: white;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
}

p#last {
    visibility: hidden;
}