html {
    background: darkslategray;
}

body {
    width: 900px;
    margin: 0 auto;
    background-color: rgb(111, 87, 56);
    border-left: 4px solid black;
    border-right: 4px solid black;
}

img {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* make sure floated images don't drop */
article::after {
    clear: both;
    display: table;
    content: "";
}

article, header, footer, aside {
    border: 2px solid #637c56;
    border-radius: 5px;
    background-color: #242a27;
    color: white;
    margin: 10px;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    gap: 8px;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
}

article#jewelry {
    grid-column: 1/4;
    grid-row: 2; /* same as grid-row: 2/3 */
}

article#clocks {
    grid-column: 4/5;
    grid-row: 2;
}

article#clothes {
    grid-column: 2/4;
}

article#furniture {
    grid-column: 1/2; /* 1st column */
    grid-row: 3/5; /* spans rows 3 + 4 */
}

article#books {
    grid-column: 4/5; /* 4th column */
    grid-row: 3/5; /* spans rows 3 + 4 */
}

footer {
    grid-column: 2/4;
}

aside {
    grid-column: 4/5;
    grid-row: 1/2;
}