p#sunny:hover {
    background-color: #0066ee;
    color: gold;
}

p#showers:hover {
    background-color: darkblue;
    color: cornflowerblue;
}

p#storms:hover {
    background-color: #565656;
    color: rgb(113, 163, 163);
}