
/* bulk text (eg. p, blockquotes, aside) are usually sans-serif */
body {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

/* headingss are often serifs */
h1 {
    font-family: "Sekuya", serif; 
    font-size: 1.5rem;
    font-weight: normal;
    margin: 30px;
    margin-left: 10px;
}

blockquote {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

span {
    /* font-style: italic; */
    text-decoration: underline;
}

p {
    border-width: 1.5px;
    border-style: dashed;
    border-color: rgb(79, 79, 79);
    margin: 20px;
    padding: 6px 12px;

    border-radius: 10px;
}