body {
    font-size: 0.8em;
    background-color: rgb(30, 28, 49);
}

img {
    width: 150px;
    margin: 6px;
}

h1 {
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

div {
    padding: 4px;
    margin: 12px;
    background-color: #333356;
    border: 2px solid black;
    display: inline-block;
    width: 45%;
}

article {
    background-color: rgb(30, 28, 49);
}

img {
    width: 100px;
    margin: 6px;
}

img#explorers {
    width: 200px;
}

img#explorers, img#camps {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

img#visitors {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

p {
    margin: 8px 14px;
}

p.clear-imgs {
    clear: right;
}

aside.highlight {
    background-color: beige;
    padding: 20px;
}

.fix {
    clear: both;
}